<head>
  <!--Import Google Icon Font-->
  <!-- <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  <!-- <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'> -->
  <!--Import materialize.css-->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"> -->

  <!--Let browser know website is optimized for mobile-->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->

  <style type="text/css">

  /* Imports */
  /*@import url(https://fonts.googleapis.com/css?family=Lato:400,300);*/

  div.card.ques {
  font-family: 'Roboto', sans-serif;
  display: block;
  width: auto;
  height:auto;
  margin: 40px auto 40px;
  background-color: #ffffff;
  border-radius: 2px;
  }
  div.card.ques div.card-title{
  padding: 16px;
  }

    div.card.ques div.card-title figure {
      width: 40px;
    height: 40px;
    background-color: #dddddd;
    background-image: url(http://www.msudenver.edu/media/sampleassets/profile-placeholder.png);
    background-size: cover;
    margin: 0 16px 0 0;
    padding: 0;
    border-radius: 50%;
    float: left;
  }
    div.card.ques div.card-title div.text h1{
      font-size: 24px;
font-weight: normal;
line-height: 1;
padding: 0;
margin: 8px;
    }
    div.card.ques div.card-title div.text h2{
      color: #757575;
      font-size: 14px;
      font-weight: normal;
      line-height: 1;
      padding: 0;
      margin: 12px 0 0;
    }
    div.card.ques div.card-title div.text.small h1{
      margin-top: 0px;
  font-size: 14px;
  }
    }
    div.card.ques div.supporting_text {
padding: 16px;
}
div.card.ques div.supporting_text p {
font-size: 14px;
line-height: 2;
margin: 0;
padding:  10px 10px 10px 18px;
}
  /*.card-title h2,  .card-title .wrap > p {
    margin-bottom: 10px;
    font-family: Lato, sans-serif;
    font-size: 1.2em;
    color: #222;
  }*/
  div.card.ques div.row{
padding: 8px;
height: auto;
}

div.card.ques div.card-action div.right {
float: right;
}
div.card.ques div.card-action button {
color: #757575;
height: 36px;
margin: 0;
padding: 0 8px;
background-color: #ffffff;
border: none;
font-size: 14px;
text-transform: uppercase;
border-radius: 2px;
}
/*div.card.ques div.card-action button.icon {
width: 36px;
}
div.card.ques div.card-action button + button {
margin-left: 8px;
}
div.card.ques div.card-action button:hover {
background-color: #eeeeee;
cursor: pointer;
}
div.card.ques div.card-action button i {
color: #757575;
font-size: 21px;
line-height: 36px;
}*/
[elevation='1'] {
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

[elevation='2'] {
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

[elevation='3'] {
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

[elevation='4'] {
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

[elevation='5'] {
box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
  </style>
</head>
<div class="question">
  <div class="userDetail">
    <div class="col s12 m6 l6">
      <div class="card ques" elevation="2">
        <!--  answer.created_at.strftime("%B %d, %Y")-->
        <div class="card-title">
          <!-- <div class="fakeimage"></div> -->
          <figure elevation="1"></figure>
          <div class="text small">
            <h1><%= question.user.email %></h1>
            <h2><%= time_ago_in_words(question.created_at) unless question.created_at.blank? %> ago</h2>
          </div>

        </div>
        <div class="supporting_text">
          <p><%= question.title %></p>
          <p><%= question.content %></p>

          <br>
          <div class="row">
            <div class="card-action">
            <%= link_to 'Show', question ,params[id: question.id]%>
            <%= link_to('follow', question_follow_path(question), remote:true,method: :post) %>
            <div class="right">
              <%= link_to('Like', question_like_path(question), remote:true,method: :post ,class: "like" ) %>
              <i class="material-icons">comment</i>
              <%if can? :destroy,question%>
              <%= link_to ('<i class="material-icons right">delete</i>').html_safe, question, method: :delete, data: {confirm: "Are you sure?"}%>
              <%end%>
              <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
            </div>
            </div>
            <!-- Modal Structure -->
            <div id="modal1" class="modal modal-fixed-footer">
              <div class="modal-content">
                <h4>Modal Header</h4>
                <p>A bunch of text</p>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script> -->
<!-- <script type="text/javascript">
$(document).ready(function(){
$('.collapsible').collapsible({
accordion : true
});
});
</script> -->
<script type="text/javascript">
$(document).ready(function(){
  // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
  $('#modal1').modal({
    dismissible: true
  });
  $('#modal1').modal('open');
  $('.trigger-modal').modal();
  $('#modal1').modal('close');
});
</script>
