
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
<%= stylesheet_link_tag    'questionlist', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <div class="col s12 m6 l6">
    <aside class="card ques" elevation="2">

  <div class="question">
      <div class="userDetail">
		<header>
			<figure elevation="1"></figure>
			<div class="text small">
				<h1><%= question.user.email %></h1>
				<h2>12.04.2017 12:30p.m.</h2>
			</div>
		</header>
<!-- 		<figure class="rich_media" id="image_1"></figure> -->
		<div class="supporting_text">
      <p><%= question.title %></p>
			<p><%= question.content %></p>
		</div>
    <div class="row">
      <div class="card-action">
        <%= link_to 'Show', question ,params[id: question.id]%>
        <%= link_to('follow', question_follow_path(question), remote:true,method: :post) %>
			<div class="right">
				<button class="icon"><i class="material-icons">favorite_border</i><%= link_to('', question_like_path(question), remote:true,method: :post ,class: "like" ) %></button><button class="icon"><i class="material-icons">comment</i><a href="#"></a></button>
<%if can? :destroy,question%>
        <button class="icon"><i class="material-icons">delete</i><%= link_to "", question, method: :delete, data: {confirm: "Are you sure?"}%></button>
        <%end%>
			</div>
		</div>
    </div>
  </div>
  </div>

</aside>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js'></script>

<%= javascript_include_tag 'questionlist', 'data-turbolinks-track' => true %>
