<head>
	<meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Material Card</title>
	
</head>
<body>
  <!-- <div class="col s12"> -->
	<!-- <div class="container"> -->
			<div class="row">

				<div id="questions">
			          <% @feed.each do |question| %>
			              <%= render 'question' , question: question %>
			          <% end %>
	 </div>
	 </div>
 <!-- </div> -->
<!-- <div class="container"> -->
  <div class="createQuestion">
  <%= form_for @question, remote: true do |task|%>
      <%= task.text_field :title, class:'validate', id:'title' %>
       <%= task.label :title, for:'title' %><br>
      < <%= task.text_field :content, class:'validate',id:'content' %><br>
			<%= task.label :content, for:'content' %><br>

      <div class="actions">
				  <%= task.submit id: 'create_question_submit' %>
      </div>
  <% end %>
	<% if @question.errors.any? %>
      <% @question.errors.full_messages.each do |message| %>
          <%= message %>
      <% end %>
  <% end %>
</div>
<!-- </div> -->
<!-- </div> -->


</body>
