<!DOCTYPE html>
<html>
<head>
  <title>AskKaro</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  <link href='https://fonts.googleapis.com/css?family=Englebert' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Cantarell|Capriola|Fresca|Josefin+Slab" rel="stylesheet">

  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    .container{
      width:90%;
    }
  </style>
</head>
<body>
  <% if notice %>
  <script type="text/javascript">
    noty({text: '<%= notice %>', type: 'alert', timeout: 3500, progressBar: true});
  </script>
  <% end %>
  <% if alert %>
  <script type="text/javascript">
    noty({text: '<%= alert %>', type: 'error', timeout: 5000, progressBar: true});
  </script>
  <% end %>







  <style type="text/css">
   .search-wrapper {
    position: absolute;
    top: 0;
    right: calc(5% - 20px);
    padding: 4px 20px;
  }
  .search-wrapper .search-input {
    font-family: 'Lato', sans-serif;
    border: none;
    background-color: #eeeeee;
    color: #3e3e3e;
    height: 18px;
    width: 280px;
    border-radius: 30px;
    padding: 10px 18px 10px 18px;
    font-size: 14px;
    transition: width .3s ease;
  }
  .search-wrapper .search-input:focus {
    outline: none;
    background-color: #fff;
  }
  .search-wrapper .search-input::-webkit-input-placeholder {
    letter-spacing: 1.5px;
  }
  .search-wrapper .search-input::-moz-placeholder {
    letter-spacing: 1.5px;
  }
  .search-wrapper .search-input:-ms-input-placeholder {
    letter-spacing: 1.5px;
  }
  .search-wrapper .search-icon {
    position: absolute;
    top: 28px;
    right: calc(5% + 18px);
    cursor: pointer;
  }
</style>


<div class="navbar">

  <section class="navigation">
    <div class="nav-container hide-on-med-and-down">

      <div class="brand">
        <a href="/"><div class="image-logo1"></div></a>
      </div>
      <nav id="mininav">   
        <ul class="nav-list">
          <li>
            <a href="#!">Home</a>
          </li>
          <li> <div class="search-wrapper">

           <form action="/home/index" method="get">
            <!-- <input class="search-input" placeholder="SEARCH" type="text" /> -->
            <%= text_field_tag :search, params[:search],:class=>'search-input',:placeholder=>'Search' %>


            <svg width="13px" height="13px" class="search-icon" viewBox="0 0 13 13">
              <path fill="#999999" d="M12,13a1,1,0,0,1-.7-.3L8.62,10A5.5,5.5,0,1,1,10,8.62l2.68,2.68A1,1,0,0,1,12,13ZM5.5,2A3.5,3.5,0,1,0,9,5.5,3.5,3.5,0,0,0,5.5,2Z"/>
            </svg>
          </form>



        </div></li>
        <li>
          <a href="/users_list">All Users</a>
        </li>
        <li>
          <a href="#!">Read</a>
          <ul class="nav-dropdown">
            <li>
              <a href="/">Trending</a>
            </li>
            <li>
              <a href="/home/index">Latest</a>
            </li>
            <li>
              <a href="/home/index">All</a>
            </li>
          </ul>
        </li>

        <%if user_signed_in?%>
        <li>
        </li>        
        <%else%>
        <li>
         <a class="waves-effect modal-trigger" href="#modal7">Log In</a>
       </li>
       <%end%>
       <li>
        <a href="#!"><i class="material-icons right" style="padding-top: 7px;">notifications</i>Notification</a>
        <ul id="dropdownnoty" class="nav-dropdown">
          <li>
            <a href="#!"></a>
          </li>
          <li>
            <a href="#!"></a>
          </li>
          <li>
            <a href="#!"></a>
          </li>
        </ul>
      </li>
      <%if user_signed_in?%>
      <li><a href="#"><%=avatar_for(current_user,size: 25)%></a>
        <ul class="nav-dropdown">
          <li>
            <a href="/users/<%= current_user.id %>">My Profile</a>
          </li>
          <li>
            <a href="/notes">All Notes</a>
          </li>
          <li>
            <a href="/home/index">All Questions</a>
          </li>
          <li>
            <a href="#!">Chat Room</a>
          </li>
          <li>
            <a href="#!">Rewards</a>
          </li>
          <li>
            <%= link_to "Log Out",destroy_user_session_path,method: :delete%></a>
          </li>
        </ul>
      </li>         
      <%else%>
      <%end%>
    </ul>
  </nav>

</div>

<div class="nav-container hide-on-large-only">

 <!--  <div class="left"><a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a></div> -->
 <!-- <div style="width: 10px;"> -->
 <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
 <!-- </div> -->

 <ul class="side-nav white" id="mobile-demo">
  <!-- <ul id="slide-out" class="side-nav"> -->
  <li class="sidenav-header light-blue accent-4 center"><div class="user-view">
       <!--  <div class="background">
          <img src="images/office.jpg">
        </div> -->
        <%if user_signed_in?%>
        <a class="left" href="#!user"><%=avatar_for(current_user,size: 20)%></a>
        <a href="#!name"><span class="white-text name"><%= current_user.name %></span></a>
        <a href="#!email"><span class="white-text email"><%= current_user.email %></span></a>
        <% end %>
        <ul class="hide-on-med-and-up">
          <%if user_signed_in?%>
          <li><a class="dropdown-button white-text" data-activates="dropdown2"><i class="material-icons white-text ">person</i>Profile<i class="material-icons right white-text"style="margin-right:0;">arrow_drop_down</i></a></li>
          <% end %>
        </ul>
        <ul id="dropdown2" class="dropdown-content white-text">
         <%if user_signed_in?%>
         <li><a class="waves-effect waves-blue" href="/users/<%= current_user.id %>"><i class="material-icons">person</i>Profile</a></li>
         <% end %>
         <li class="divider"></li>
         <li><a class="waves-effect waves-blue" href="#"><i class="material-icons">settings</i>Settings</a></li>
         <li class="divider"></li>
         <li><a class="waves-effect waves-blue" href="#"><i class="material-icons">help</i>Help</a></li>
         <li class="divider"></li>
         <li><a class="waves-effect waves-blue" href="#"><i class="material-icons">lock</i>Lock</a></li>
         <li class="divider"></li>
         <%if user_signed_in?%>
         <li><a class="waves-effect waves-blue" href="#"><i class="material-icons">exit_to_app</i><%= link_to "Sign Out",destroy_user_session_path,method: :delete%></a></li>
         <li class="divider"></li>
         <%else%>
         <li><a class="waves-effect waves-light btn modal-trigger" href="#modal7">sign in</a></li>
         <li><a class="waves-effect waves-light btn modal-trigger" href="#modal7">sign up</a></li>

         <%end%>
       </ul>

     </div>
   </li>
   <%if user_signed_in?%>
   <li><a class="waves-effect waves-blue" href="#"><%= link_to "Sign Out",destroy_user_session_path,method: :delete%></a></li>
   <li class="divider"></li>
   <%else%>
   <li><a class="waves-effect waves-light btn modal-trigger" href="#modal7">sign in</a></li>
   <li><a class="waves-effect waves-light btn modal-trigger" href="#modal7">sign up</a></li>

   <%end%>
   <li class="waves-effect"><a href="/notes"><i class="material-icons">note</i>All Notes</a></li>
   <li><div class="divider"></div></li>
   <li class="waves-effect"><a href="/home/index"><i class="material-icons">help</i>All Questions</a></li>
   <li><div class="divider"></div></li>
   <li class="waves-effect"><a href="#!"><i class="material-icons">question_answer</i>Chat Room</a></li>
   <li><div class="divider"></div></li>
   <li class="waves-effect"><a href="#!"><i class="material-icons">star</i>Rewards</a></li>
    <!--   <li><div class="divider"></div></li>
      <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
      <li><a href="#!">Second Link</a></li>
      <li><div class="divider"></div></li>
      <li></li>
      <li><a class="waves-effect" href="#!">Third Link With Waves</a></li> -->

    </ul>
    <div class="brand center">
      <a href="/"><div class="image-logo1" style="margin-left: 47px;margin-top: -21px;"></div></a>
    </div>

    <!--  <nav id="small-device-nav"class> -->
    <ul class="nav-list right">
     <%if user_signed_in?%>
     <li class="right"><a href="#"><%=avatar_for(current_user,size: 25)%></a>
      <ul class="nav-dropdown">
        <li>
          <a href="#!">Web Design</a>
        </li>
        <li>
          <a href="#!">Web Development</a>
        </li>
        <li>
          <a href="#!">Graphic Design</a>
        </li>
      </ul>

    </li>         
    <%else%>
    <%end%>

  </ul>
  <!--   </nav> -->
</div>
</section>
</div>



<div class="container" id="mithu" style="min-height: 1365px;">
  <div id="modal7" class="modal">
    <div class="modal-content">
      <%= render :partial => 'layouts/modal'%>
    </div>
      <!-- <div class="modal-footer">
      <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div> -->
  </div>
  <div id="modaltag" class="modal">
    <div class="modal-content">
      <%= render :partial => 'layouts/modaltag'%>
    </div>
    <!-- <div class="modal-footer">
    <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
  </div> -->
</div>
<%if user_signed_in?%>
<div class="hide-on-med-and-down">
  <div class="col s12 m12 l4 left taguser">

    <div class="">

      <div class='card small tag'>
        <div class="card-image">
          <div class="image-inside"></div>
          <span class="card-title" style="font-size: 28px;font-weight: 800;font-family: Fresca,sans-serif;">Trends to Follow</span>
        </div>
        <!--  <h5>Trends to Follow</h5> -->
        <div id="tag_cloud">
          <% tag_cloud Question.tag_counts.order('count DESC').limit(10), %w[sml med lar] do |tag, css_class| %>
          <% if tag.name.length <= 11 %>
          <div class="chip">
            <%= link_to tag.name, tag_path(tag.name), class: css_class %>
            <i class="material-icons tagicon">add</i>
          </div>
          <% end %>
          <% end %>

        </div>
        <div class="card-action center">
          <a class="waves-effect waves-light cyan btn modal-trigger" href="#modaltag">SEE ALL</a>
          <!-- <a href="./tags_list">SEE ALL</a> -->
        </div>
      </div>
      <div class='card small userf'>
        <div class="card-image">
          <div class="image-inside"></div>
          <span class="card-title" style="font-size: 28px;font-weight: 800;font-family: Fresca,sans-serif;">Users to Follow</span>
        </div>
        <!--  <h5>Trends to Follow</h5> -->
        <div id="user_cloud">
         <% User.all.each do |user|%> 
         <%if user != current_user%>
         <div class="userfollow">
         <figure><a href="#"><%=avatar_for(current_user,size: 25)%></a></figure>
         
          <div class="usertext">
            <h5 class="" style="font-size: 1.2em; top: 2px;font-family: 'Fresca', sans-serif;"><%= user.name %></h5>
            <div class="chip">
             <!--          <i class="material-icons tagicon">add</i> -->
             <% if user.follow_string(current_user.id,user.id)== true%>
             <%= link_to('Unfollow', user_follow_path(user), remote:true,method: :post,id: "follow_#{user.id}") %>
             <%else%>
             <%= link_to('follow', user_follow_path(user), remote:true,method: :post,id: "follow_#{user.id}") %>
             <%end%>

           </div>
         </div>

       </div>

       <% end %> 

       <% end %> 
       <!--  -->
     </div>
     <div class="card-action center">
      <a class="waves-effect waves-light cyan btn modal-trigger" href="#">SEE ALL</a>
      <!-- <a href="./tags_list">SEE ALL</a> -->
    </div>
  </div>
</div>
</div>
</div>
<%end%>
<%if user_signed_in?%>

<div class="hide-on-med-and-down fixed">
  <div class="col s12 m12 l4">
    <div class='car1 small note right'>




      <div class="wrapper">
        <!--  <aside class="note-wrap note-yellow">
        <p></p>
      </aside> -->


      <aside class="note-wrap note-yellow">
        <%if Note.where(:user_id => current_user.id).length>0%>
        <p class="truncate">  <%= Note.where(:user_id => current_user.id).last.content %></p><%end%>
        <hr><%if Note.where(:user_id => current_user.id).length>=2%>
        <p class="truncate"><%= Note.where(:user_id => current_user.id)[-2].content %><%end%>
        </p>

        <br>

        <div class="fixed-action-btn horizontal">
          <a class="btn-floating btn-large waves-effect waves-light red z-depth-4">
            <i class="large material-icons">menu</i>
          </a>
          <ul>
            <li><a href="#modaladdnote" class="btn-floating tooltipped green" data-position="bottom" data-delay="50" data-tooltip="Add Note"><i class="material-icons">mode_edit</i></a></li>

            <li><a class="btn-floating tooltipped yellow darken-1 modal-trigger" href="#modalshownote" data-position="bottom" data-delay="50" data-tooltip="Show Note"><i class="material-icons">arrow_drop_down</i></a></li>

            <li><a href="notes" class="btn-floating tooltipped blue" data-position="bottom" data-delay="50" data-tooltip="See All"><i class="material-icons">list</i></a></li>
            <!--  <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li> -->
          </ul>
        </div>
      </aside>

      <div id="modalshownote" class="modal">
        <div class="modal-content">
          <%= render :partial => 'layouts/modalshownote'%>
        </div>

      </div>


    </div>




    <div class="white">
      <%= render :partial => 'layouts/sideques'%>

    </div>


  </div>
</div>
</div>

<%end%>

<div class="row">
  <div class="col s12 m12 l7">
    <%= yield %>
  </div>
</div>


<div id="modaladdnote" class="modal">
  <div class="modal-content">
    <%= render :partial => 'layouts/modaladdnote'%>
  </div>
  <!-- <div class="modal-footer">
  <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
</div> -->
</div>

</div>

<footer class="page-footer grey darken-3" style="bottom: 0px; overflow: hidden; left: 0; right: 0;"  >
  <div class="container">
    <div class="row">
      <div class="col l3 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l3 m12 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col s12 m6 l1"><span class="white-text">
        <i class="fa fa-google medium"></i>
      </span></div>
      <div class="col s12 m6 l1">
        <span class="white-text">
          <i class="fa fa-linkedin medium"></i>
        </span>
      </div>
      <div class="col s12 m6 l1">
        <span class="white-text">
          <i class="fa fa-twitter medium"></i>
        </span>
      </div>
      <div class="col s12 m6 l1">
        <span class="white-text">
          <i class="fa fa-facebook medium"></i>
        </span>
      </div>
    </div>    
  </div>
</div>
<div class="footer-copyright grey darken-4">
  <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
  </div>
</div>
</footer>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js'></script>

<script>
 $(".button-collapse").sideNav();


 $(document).ready(function(){

  $('.dropdown-button').dropdown({
   inDuration: 300,
   outDuration: 225,
     constrainWidth: false, // Does not change width of dropdown to that of the activator
     hover: true, // Activate on hover
     gutter: 0, // Spacing from edge
     belowOrigin: true, // Displays dropdown below the button
     alignment: 'right', // Displays dropdown with edge aligned to the left of button
     stopPropagation: false // Stops event propagation
   }
   );
// the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
$('.modal').modal();
 $('#modal2').on('click', function() {
      });
$('#modal7').modal();
$('#modal7').modal('open');
$('.trigger-modal').modal();
$('#modal7').modal('close');
$('#modaltag').modal();
$('#modaltag').modal('open');

$('#modaltag').modal('close');
$('#modaladdnote').modal();
$('#modaladdnote').modal('open');

$('#modaladdnote').modal('close');
$('#modalshownote').modal();
$('#modalshownote').modal('open');

$('#modalshownote').modal('close');

$('.tooltipped').tooltip({delay: 50});


});


</script>

<!-- for dropdown  -->
<script type="text/javascript">

  (function($) { // Begin jQuery
  $(function() { // DOM ready
    // If a link has a dropdown, add sub menu toggle.
    $('nav ul li a:not(:only-child)').click(function(e) {
      $(this).siblings('.nav-dropdown').toggle();
      // Close one dropdown when selecting another
      $('.nav-dropdown').not($(this).siblings()).hide();
      e.stopPropagation();
    });
    // Clicking away from dropdown will remove the dropdown class
    $('html').click(function() {
      $('.nav-dropdown').hide();
    });
    // Toggle open and close nav styles on click
    $('#nav-toggle').click(function() {
      $('nav ul').slideToggle();
    });
    // Hamburger to X toggle
    $('#nav-toggle').on('click', function() {
      this.classList.toggle('active');
    });
  }); // end DOM ready
})(jQuery); // end jQuery
</script>


<script type="text/javascript" charset="utf-8">
  $(".dropdown-button").dropdown({ hover: true, data-constrainwidth="false"});
  $.ajax({
    url: '/notifications.json',
    success: function(data){
      console.log("****");
      console.log(data[1].notifiable.type);
      console.log("****");
      var result=data;
      var notificationList=document.getElementById('dropdownnoty');
      for(var i=0;i<data.length;i++){
        var liElement = document.createElement('li');
        notificationList.append(liElement);
        liElement.append(data[i].actor+data[i].action+data[i].notifiable.type);
      //                    liElement.append(data[i].notifiable.type);
    }

  },
  error: function(){
    console.log("some error");
    console.log(arguments);
  }

});
</script>
<script type="text/javascript">


//in case you want to think about touch devices...I guess thats cool.
var toggle = true;
$('.mobile-dropdown').on('click', function(){

  alert('oh yeahh');
  if(toggle===true){
    $(this).addClass('active-drop');
    toggle = false;
    alert('turned on');
  }else{
    $(this).removeClass('active-drop');
    toggle = true;
    alert('turned off');
  }
})


</script>
</body>



</html>
